@use '../styles/vars.scss' as *;

.section {
  padding-bottom: $gap-32;
  scroll-margin-top: $gap-64;
    
  @media (max-width: 768px) {
   padding-bottom: $gap-32;
 }
}

.header {
  background: linear-gradient(to top, $primary-color 50%, $secondary-color 50%);
}

.container {
  padding: $gap-16 $gap-64;
  
  @media (max-width: 768px) {
  padding: $gap-8 $gap-32;
 }

@media (max-width: 468px) {
  padding: $gap-8 $gap-16;
 }
}