@use '../styles/vars.scss' as *;

.modal {
  max-width: 90% !important;
  width: 90%;
}

.successModal {
  background-image: url('../assets/alertCover.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: $gap-32;
  max-width: 70% !important;
  width: 70%;
  margin: 0 auto;

  
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

  .successContainer {
    background-color: $accent-color;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    gap: $gap-32;
    padding: $gap-32 $gap-64; 
    width: fit-content;
    margin: 0 auto;
    z-index: 1;

     @media (max-width: 768px) {
     padding: $gap-16 $gap-32;
  }

  @media (max-width: 468px) {
    padding: $gap-8 $gap-16;
  }
  }
}

.modalHeaderNoBorder {
  border-bottom: none;
  padding: $gap-8 $gap-16;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  z-index: 10;

  :global(.btn-close) {
    opacity: 1;
    position: relative;
    z-index: 11;
  }
}