@use '../styles/vars.scss' as *;

.section {
  background-color: $primary-color;
  padding-bottom: $gap-64;
    
  @media (max-width: 768px) {
   padding-bottom: $gap-32;
 }
}

.header {
  background: linear-gradient(to bottom, $secondary-color 50%, $primary-color 50%);
}

.container {
  padding: $gap-16 $gap-64;
  
  @media (max-width: 768px) {
  padding: $gap-16 $gap-32;
 }

  @media (max-width: 468px) {
  padding: $gap-8 $gap-16;
 }
}