@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

@font-face {
  font-family: 'Caravan';
  src: url('../assets/Caravan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}