@use './vars.scss' as *;

h1 {
    font-size: 100px;

  @media (max-width: 1064px) {
    font-size: 86px;
  } 
  @media (max-width: 960px) {
    font-size: 76px;
  }
  @media (max-width: 860px) {
    font-size: 66px;
  } 
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 638px) {
    font-size: 44px;
  }
  @media (max-width: 548px) {
    font-size: 36px;
  } 
  @media (max-width: 480px) {
    font-size: 26px;
  }  
  @media (max-width: 340px) {
     font-size: 24px;
  } 
}

h2 {
  font-size: 60px;
  text-align: center;

  @media (max-width: 1064px) {
    font-size: 50px;
  } 
  @media (max-width: 960px) {
    font-size: 45px;
  } 
  @media (max-width: 860px) {
    font-size: 40px;
  } 
  @media (max-width: 768px) {
    font-size: 35px;
  }
 
  @media (max-width: 480px) {
    font-size: 30px;
  }  
  @media (max-width: 340px) {
     font-size: 24px;
  } 
}

h3 {
    font-family: $font-deco;
    font-size: 128px;
    color: $accent-color;
    transform: rotate(-13deg);
    line-height: 0.6;

  @media (max-width: 960px) {
    font-size: 108px;
  }
  
  @media (max-width: 768px) {
    transform: rotate(-10deg);
    font-size: 80px;
  }

  @media (max-width: 480px) {
    font-size: 55px;
  }
  @media (max-width: 340px) {
    font-size: 45px;
  }
  @media (max-width: 340px) {
    font-size: 45px;
  }
}

h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: $gap-32;

  @media (max-width: 768px) {
      font-size: 24px;
    }
}

h5 {
    font-family: $font-deco;
    font-size: 140px;
    color: $primary-color;
    line-height: 0.6;
   
     @media (max-width: 1200px) {
      font-size: 120px;
   }

   @media (max-width: 960px) {
      font-size: 110px;
   }
   @media (max-width: 860px) {
      font-size: 90px;
   }
   @media (max-width: 640px) {
    font-size: 76px;
  }
   @media (max-width: 580px) {
    font-size: 64px;
  }
  // @media (max-width: 512px) {
  //   font-size: 60px;
  // }
  //  @media (max-width: 485px) {
  //   font-size: 60px;
  // }
  @media (max-width: 400px) {
    font-size: 58px;
  } 
}

p {
  font-size: $font-size-18;
  line-height: 1.6;
  text-align: left;

  @media (max-width: 768px) {
    font-size: $font-size-16;
    }
  }



  

  
