@use './vars.scss' as *;

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

h3 {
    font-family: $font-deco;
    font-size: 100px;
    line-height: 0.6;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: $gap-32;
  font-weight: bold;
}

p {
  font-size: $font-size-18;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 1200px) {
    h3 {
        font-size: 60px;
  }
  }

@media (max-width: 992px) {
    h3 {
        font-size: 60px;
  }
  }


  @media (max-width: 768px) {
    h2 {
    font-size: 24px;
  }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: $font-size-16;
    }
  }

  @media (max-width: 480px) {
    h2 {
    font-size: 20px;
  }

   h3 {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
    h3 {
        font-size: 30px;
  }
}