@use './vars.scss' as *;

h1 {
  font-size: 100px;
  font-family: $font-title;
  font-weight: 400;

  @media (max-width: 1064px) {
    font-size: 86px;
  } 
  @media (max-width: 960px) {
    font-size: 76px;
  }
  @media (max-width: 860px) {
    font-size: 66px;
  } 
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 638px) {
    font-size: 44px;
  }
  @media (max-width: 548px) {
    font-size: 36px;
  } 
  @media (max-width: 480px) {
    font-size: 26px;
  }  
  @media (max-width: 340px) {
     font-size: 24px;
  } 
}

h2 {
  font-size: 60px;
  text-align: center;
  font-family: $font-title;
  font-weight: 400;
  line-height: 1;
  max-width: 90%;
  margin: 0 auto;

  @media (max-width: 1064px) {
    font-size: 50px;
  } 
  @media (max-width: 960px) {
    font-size: 40px;
  } 
  
  @media (max-width: 768px) {
    font-size: 35px;
  }
 
  @media (max-width: 480px) {
    font-size: 28px;
  }  
  @media (max-width: 340px) {
     font-size: 24px;
  } 
}

h3 {
    font-family: $font-deco;
    font-size: 128px;
    color: $accent-color;
    transform: rotate(-13deg);
    line-height: 0.6;

  @media (max-width: 960px) {
    font-size: 108px;
  }
  
  @media (max-width: 768px) {
    transform: rotate(-10deg);
    font-size: 80px;
  }

  @media (max-width: 480px) {
    font-size: 55px;
  }
  @media (max-width: 340px) {
    font-size: 45px;
  }
  @media (max-width: 340px) {
    font-size: 45px;
  }
}

h4 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: $gap-32;
  font-family: $font-title;
  text-transform: uppercase;

  @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 468px) {
      font-size: 14px;
    }
}

h5 {
    font-family: $font-deco;
    font-size: 140px;
    color: $primary-color;
    line-height: 0.6;
   
     @media (max-width: 1200px) {
      font-size: 120px;
   }

   @media (max-width: 960px) {
      font-size: 110px;
   }
   @media (max-width: 860px) {
      font-size: 90px;
   }
   @media (max-width: 768px) {
      font-size: 84px;
   }
   @media (max-width: 660px) {
    font-size: 78px;
  }
   @media (max-width: 580px) {
    font-size: 68px;
  }
   @media (max-width: 512px) {
     font-size: 64px;
   }
    @media (max-width: 486px) {
     font-size: 62px;
   }
  @media (max-width: 460px) {
    font-size: 60px;
  } 
    @media (max-width: 446px) {
    font-size: 56px;
  } 
   @media (max-width: 420px) {
    font-size: 52px;
  }
   @media (max-width: 395px) {
    font-size: 46px;
  }
   @media (max-width: 356px) {
    font-size: 40px;
  }
   @media (max-width: 356px) {
    font-size: 36px;
  }
}

h6 {
  font-size: 30px;
  text-align: center;
  font-family: $font-text;
  padding-bottom: $gap-32;

  @media (max-width: 768px) {
      font-size: 24px;
      padding-bottom: $gap-16;
    }
}

p {
  font-size: $font-size-18;
  line-height: 1.6;
  text-align: left;
  font-family: $font-text;
  margin-bottom: 0;

  @media (max-width: 768px) {
    font-size: $font-size-16;
    }
  }

  a {
    font-family: $font-text;
    font-size: 18px;
    line-height: 1.6;

     @media (max-width: 768px) {
    font-size: $font-size-16;
    }
  }



  

  
