@use '../styles/vars.scss' as *;

.navContainer {
  padding: $gap-16 $gap-64;
  background-color: $primary-color !important;

  @media (max-width: 768px) {
   padding: $gap-8 $gap-32;
 }

  @media (max-width: 468px) {
   padding: $gap-4 $gap-16;
 }
}

:global(.navbar-toggler) {
  border: none;
  box-shadow: none;
  padding: 0;
  
  &:hover,
  &:focus,
  &.active {
    border: none;
    box-shadow: none;
  }
}

:global(.navbar-toggler-icon) {
  display: none;
}

.navLinksContainer {
  gap: $gap-16;
   
 :global(.nav-link) {
    transition: color 0.3s ease;
    padding-right: 0;
    margin-right: 0;
    color: black;
   
  &:hover,
  &:focus,
  &.active {
    color: $accent-color;
  }
  }
  }

 