@use '../styles/vars.scss' as *;

.section {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/decoCover.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;

   .contentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $gap-64; 

    @media (max-width: 992px) {  
      width: 60%;
    }

    @media (max-width: 768px) {
      padding: $gap-32;
    }
     @media (max-width: 468px) {
      padding: $gap-16;
    }
  }
}
