@use '../styles/vars.scss' as *;

.section {
  height: 100vh;
  background-image: url('../assets/deco-cover-guskova.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 768px) {
    height: 60vh;
  }

   .contentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $gap-64; 

    @media (max-width: 992px) {  
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 55%;
      padding: $gap-32;
    }

    @media (max-width: 580px) {
      width: 60%;
    }
     @media (max-width: 486px) {
      padding: $gap-32 $gap-16;
      width: 55%;
    }
  }
}
