@use '../../styles/vars.scss' as *;

.mainSection {
  height: calc(100vh - $gap-64);
  scroll-margin-top: $gap-64;

  background-image: url('../../assets/mainCover.jpg');
  background-size: cover;
  background-position: right 27%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  


  @media (max-width: 768px) {
    height: auto;
    background-position: 100% 30%;
  }
}

.contentContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: $gap-32;
  margin-right: $gap-64;

  @media (max-width: 768px) {
    margin-right: $gap-16;
    gap: $gap-16;
    padding: $gap-32 0;
  }

  @media (max-width: 468px) {
    padding: $gap-32;

  }
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
  }
}

