@use '../styles/vars.scss' as *;

 @use '../styles/vars.scss' as *;

.sectionTennis {
  width: 100%;
  min-height: 100vh;
  overflow: hidden; 
  background-color: #c6c6c6;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.contentCol {
 
  padding: $gap-64;

  @media (max-width: 768px) {
    padding: $gap-32 $gap-16;
  }
}
