@use '../../styles/vars.scss' as *;


 .form {
     display: flex;
     flex-direction: column;
     gap: $gap-32;
     padding: $gap-64 0 $gap-64 $gap-64;

      @media (max-width: 768px) {
    padding: $gap-32;
    gap: $gap-8;
  }

  @media (max-width: 480px) {
    padding: $gap-16;
    gap: $gap-8;
  }
 }

.link {
  text-decoration: underline;
  cursor: pointer;
      &:hover {
          transition: background-color 0.3s ease, color 0.3s ease;
          transform: scale(1.05);
          color: $accent-color;
        }
}

.input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
  width: 75%;

  &:hover,
  &:focus {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
  }
}
