@use '../../styles/vars.scss' as *;

.container {
  height: 100vh;
  scroll-margin-top: $gap-32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $gap-64 0;
  background-color: $accent-color;
  color: $primary-color;
  gap: $gap-64;
  
  @media (max-width: 768px) {
    height: auto;
    padding: $gap-32;
    gap: $gap-32;
  }
}

.text {
    width: 75%;

    @media (max-width: 768px) {
    width: 100%;
  }
}

 .linksCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-32;
    align-items: center;
    text-align: center;
    
  @media (max-width: 768px) {
    gap: $gap-16;
  }
   
   @media (max-width: 468px) {
    gap: $gap-8;
  }
   
}

  .icon {
    margin-right: $gap-32;
    vertical-align: middle;
    width: $gap-32;
}

    a {
    color: $primary-color;   
  }
