@use '../../styles/vars.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: $gap-64 0;
  background-color: $accent-color;
  color: $primary-color;
  
  @media (max-width: 768px) {
    padding: $gap-48 $gap-32;
  }

   @media (max-width: 480px) {
    padding: $gap-32;
  }
}

.text {
    width: 75%;

    @media (max-width: 480px) {
    width: 100%;
  }
}

 .linksCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-32;
    align-items: center;
    text-align: center;
    
  @media (max-width: 768px) {
    gap: $gap-16;
    padding: $gap-32;
  } 
}

  .icon {
    margin-right: $gap-32;
    vertical-align: middle;
    width: $gap-32;
}

    a {
    color: $primary-color;   
  }
