@use '../styles/vars.scss' as *;

.aboutSection {
  scroll-margin-top: $gap-64;
  background-color: $secondary-color;
  padding: calc($gap-64 + 2.5rem) $gap-64 calc($gap-64 + 2.5rem) $gap-64;

  @media (max-width: 768px) {
    scroll-margin-top: $gap-32;
    padding: $gap-32;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-32;
  }

  @media (max-width: 468px) {
    padding: $gap-16;
    gap: $gap-16;
  }
}