@use '../../styles/vars.scss' as *;

.contactSection {
  min-height: 100vh;
  scroll-margin-top: $gap-32;
  display: flex;
  padding: 0 $gap-64;

   @media (max-width: 768px) {
    flex-direction: column;
    padding: 0;
  }
}