@use '../../styles/vars.scss' as *;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
}

.svg {
  width: 8.5rem;
  height: 8.5rem;

  @media (max-width: 960px) {
    width: 7.5rem;
    height: 7.5rem;
  }

  @media (max-width: 768px) {
    width: 6.25rem;
    height: 6.25rem;
  }

  @media (max-width: 480px) {
    width: 5.25rem;;
    height: 5.25rem;;
  }

  @media (max-width: 320px) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.circleText {
  font-size: $font-size-22;
  fill: $text-color;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-title;
}

.centerNumber {
  font-size: 150px;
  font-weight: 400;
  font-family: $font-title;
}