@use '../styles/vars.scss' as *;

.footer {
  background-color: $secondary-color;
  padding: $gap-16 $gap-64;

  
    @media (max-width: 768px) {
      padding: $gap-32;
    }

    @media (max-width: 468px) {
      padding: $gap-16;
    }

  a {
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    font-weight: 400;
    text-align: start;
    font-size: 24px;
    padding-bottom: $gap-16;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .quote {
    font-family: $font-deco;
    width: 75%;
    font-size: 90px;
    color: $text-color;
    padding-bottom: $gap-32;
    text-align: center;

     @media (max-width: 768px) {
      font-size: 60px;
      width: 100%;
      padding: $gap-16 $gap-32;
    }
    
    @media (max-width: 468px) {
    padding: $gap-16 0;
  }
  }
  
}
