@use '../styles/vars.scss' as *;

.footer {
  background-color: $secondary-color;
  padding: $gap-16 $gap-64;

  a {
    color: black;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 22px;
  }

  .quote {
    font-family: $font-deco;
    font-size: 60px;
    color: $text-color;
  }
}
